.icon{
 font-size: 38px;

}
.respuestas{
  padding: 12px;

}
.lisatrespuestas{
  padding: 0px;
  list-style-type: none;

}
h5{
  margin-bottom: 0px;
}
h5 small{
  font-weight: normal;
  font-size: smaller;
  color: rgba(0,0,0, .54);

}

.descripcion{
  padding-left: 12px;
  border-left: 2px solid #eee;
  font-size: 14px;
  margin-top: 6px;

}
